
<li >
	<div class="panel panel-default" style="margin-top:10px;margin-right:10px;margin-leftt:10px;">
		<button onclick="$(this).parent().parent().fadeOut()" style="position: relative; z-index: 20; margin-right:10px" class="close"><span aria-hidden="true">×</span></button>
		<h4 style="margin-left:10px;">Entity Index</h4>
		<div class="panel-body" class="entity-index" id="index0">
			<div class="form-group">
				<label>Index Name</label>
				<input class="form-control" name="indexName"></input>
			</div>
			<div class="form-group" >
				<label>Column Name</label>
				<select class="form-control" name="col"></select>
			</div>	
		</div>
	</div>
</li>