
<li >
	<div class="panel panel-default" style="margin-top:10px;margin-right:10px;">
		<button onclick="$(this).parent().parent().fadeOut()" style="position: relative; z-index: 20; margin-right:10px" class="close"><span aria-hidden="true">×</span></button>
		<h4 style="margin-left:10px;">Foreign Key</h4>

		<div class="panel-body">
			<div class="form-group">
				<label>Foreign Table</label>
				<select class="form-control" name="ftable" >
					<option value=""></option>
					<option ng-repeat="table in tableNames" value="{{table}}">{{table}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Foreign Key Name</label>
				<input  class="form-control" name="fname"></input>
			</div>	
			<div class="form-group">
				<label>Local Table Key</label>
				<select class="form-control" name="lkey">
					<option ng-repeat="col in columns" value="{{col}}">{{col}}</option>
				</select>
			</div>	
			<div class="form-group">
				<label>Foreign Table Key</label>
				<select class="form-control" name="fkey" disabled>
					<option ng-repeat="col in fkcolumns" value="{{col}}">{{col}}</option>
				</select>
			</div>	
		</div>
	</div>
</li>