
<li >
	<div class="panel panel-default" style="margin-top:10px;margin-right:10px;">
		<button onclick="$(this).parent().parent().fadeOut()" style="position: relative; z-index: 20; margin-right:10px" class="close"><span aria-hidden="true">×</span></button>
		<h4 style="margin-left:10px;">Foreign Key</h4>

		<div class="panel-body" name="foreign-key" id="fk0">
			<div class="form-group">
				<label>Foreign Table</label>
				<select class="form-control" >
					<option ng-repeat="table in tableNames" ng-attr-value="table">{{table}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Foreign Key Name</label>
				<input name="foreign-key-name" class="form-control"></input>
			</div>	
			<div class="form-group">
				<label>Local Table Key</label>
				<select name="local-key" class="form-control" ng-options="col for col in columns"></select>
			</div>	
			<div class="form-group">
				<label>Foreign Table Key</label>
				<select name=" foreign-key"class="form-control"></select>
			</div>	
		</div>
	</div>
</li>